* {
  margin: 0;
}
.box {
  height: 500px;
  padding: 100px;
}
.dayLight {
  background-color: yellow;
}
.night {
  background-color: navy;
  color: white;
}
.box h1 {
  margin-bottom: 50px;
}
.box button {
  margin: 30px 0 30px 0;
  border: 2px solid lightblue;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}
